.btn {
  border: none !important;
  background-color: #3d00b7;
  color: #ffffff;
  border: 1px solid #3d00b7 !important;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  min-width: 130px;
  height: 50px;
  border-radius: 100px;
  margin: auto 10px;
}
.inverse {
  background: none !important;
  color: #3d00b7;
  border: 1px solid #3d00b7 !important;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  min-width: 130px;
  height: 50px;
  border-radius: 100px;
  margin: auto 10px;
}
