.card {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 313px;
  border-bottom: 1px solid #f0f0f0;
}
.img {
  position: relative;
  height: 60px;
  width: 60px;
  border-radius: 40px;
}
.verify {
  position: absolute;
  top: -10px;
  right: -10px;
}
.card span {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}
.card svg {
  margin-right: 6px;
}
.info span {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  /* margin-bottom: 10px; */
  color: #636363;
}
.info p {
  font-family: "DM Sans";
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
  color: #000000;
}
.status {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #14c8b0;
}
.card:hover {
  transform: scale(1.002);
  box-shadow: 0px 4px 50px -3px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
  cursor: pointer;
}
