.slider {
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-image: url("../../Assets//Image/Dot.png");
  background-repeat: no-repeat;
  background-position: bottom 160px left -70px;
}
.detail {
  padding-right: 7vw;
}
.title {
  font-family: "Intregal CF", sans-serif;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 22px;
}
.desc {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #565656;
  max-width: 470px;
  margin-bottom: 30px;
}
.counters {
  margin: 30px 0;
  display: flex;
}
.counter {
  margin-right: 23px;
}
.counter h1 {
  font-family: "Intregal CF", sans-serif;
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}
.counter h1::after {
  content: "K";
}
.counter p {
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #565656;
}
/* stack card */
.stack {
  position: relative;
  height: 75vh;
}
.stackCard {
  position: absolute;
}
.stamp {
  position: absolute;
  z-index: 10;
  top: 60%;
  left: -30%;
}
/* slider */
#first {
  right: -20%;
  transform: scale(0.8);
  z-index: 1;
}
#second {
  right: -10%;
  transform: scale(0.9);
  z-index: 2;
}
#third {
  right: 0%;
  transform: scale(1);
  z-index: 3;
}
