.category {
  background-color: rgba(217, 224, 236, 0.2);
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.title {
  margin-bottom: 40px;
  font-family: "Intregal CF", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 32px;
  color: #000000;
}
.buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}
.gallery {
  padding: 30px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
